<aside class="app-related govuk-!-display-none-print" role="complementary">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="categories-title">Categories</h2>
  <nav aria-labelledby="categories-title">
    <ul class="app-related__list">
      <li class="app-related__list-item">
        <a class="govuk-link" href="/categories/"><span class="govuk-visually-hidden">view </span>All categories</a>
      </li>
      {% for tag, count in params.tags %}
        <li class="app-related__list-item">
          <a class="govuk-link" href="/categories/{{ tag }}/"><span class="govuk-visually-hidden">view posts in the category </span>{{ tag | replace("_", " ") }} ({{ count }})</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
