---
permalink: /mission-patches/index.html
---

{% extends "govuk/template.njk" %}

{% set htmlClasses = 'no-js' %}

{% from "header/macro.njk" import appHeader %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}

{% block head %}
<!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<meta property="og:title" content="{{ title }}">
{% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
<meta property="og:image" content="/images/opengraph-image.png">
<meta name="robots" content="noindex nofollow">
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ app.serviceName or app.productName }} - GOV.UK
{% endblock %}

{% block header %}
  {{ appHeader({
    homepageUrl: app.url or "/",
    productName: app.productName,
    serviceName: app.serviceName
  }) }}
{% endblock %}


{% block beforeContent %}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
    {
      text: "Teaching Vacancies design history",
      href: "/"
    },
    {
      text: "Mission patches",
      href: "/mission-patches/"
    }
  ]
  }) }}

{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}



{% block content %}

<div class="govuk-grid-row">
  
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
        Mission paches
        </h1>

        <p>
        The mascot for the Teaching Vacancies service is a tiger named Tony, otherwise known as the TV Tiger.
        </p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                
                <img alt="Screenshot of the all school roles mission patch" src="/images/mission-patches/all_school_roles.png"/ style="max-width:100%; float:left; margin:20px 0px;">
                
                <p class="govuk-body-s">This patch celebrates one of the most significant changes to the service since launch, expanding the service to allow the advertising of all school roles, modelled by Tony perfectly with his different hats.</p>
            
            </div>
        </div>

    </div> 
 





</div>


{% endblock %}














{% block footer %}
  <div class="govuk-!-display-none-print">
    {{ govukFooter({
      meta: {
        items: [{
          text: "Sitemap",
          href: "/sitemap"
        }]
      }
    }) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script src="/javascripts/govuk-frontend.js"></script>
    <script src="/javascripts/application.js"></script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
